.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 95px;
    align-items: center;
}
.header-title{
    background-color: #000000;
    color: white;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    height: 60%;
    width: 500px;
    padding: 12px 0px 12px 24px;
}