.container{
    height: 100vh;
    background-color: #E5E5E5;
}
.container-tabs{
    display: grid;
    grid-template-columns: 90px 1fr;

}

.cardTask{
    display: grid;
    grid-template-columns: 90px 1fr;
}

.card{
    width: 85px;
    height: 85px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.time{
    width: 85px;
    height: 85px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
}